<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script href="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
          th:href="@{/webjars/jquery/2.1.4/jquery.min.js}"
          rel="stylesheet" media="screen"></script>
    <link href="../static/css/spring-core.css"
    th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"
    />
</head>
<body>
<div class="container">
    <h1>Musics Store</h1>
    <a href="login.html">Login</a>
</div>
</body>
</html>