<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Music Store</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script href="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:href="@{/webjars/jquery/2.1.4/jquery.min.js}"
            rel="stylesheet" media="screen"></script>
    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"
    />
    <link href="../static/css/css.css"
          th:href="@{css/css.css}"
          rel="stylesheet" media="screen"
    />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 style="color:#59B2E0">Music Store</h1>
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="login.html">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="register.html">Register</a>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <p th:if="${param.logout}" class="alert">You have been logged out</p>
                            <p th:if="${param.error}" class="alert alert-danger">There was an error, please try again</p>
                            <form id="login-form"  th:action="@{/login}" role="form" method="post">
                                <div class="form-group">
                                    <input type="email" name="username"  tabindex="1" class="form-control" placeholder="Email:example@arpuplus.com" value=""/>
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password"  tabindex="2" class="form-control" placeholder="Password" />
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="container">
    <h2>Login Form </h2>
    <div>
        <p th:if="${param.logout}" class="alert">You have been logged out</p>
        <p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
        <form class="form-horizontal"  th:action="@{/login}" method="post">
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" name="username"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</div>

-->

</body>
</html>