<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Music Store</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script href="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:href="@{/webjars/jquery/2.1.4/jquery.min.js}"
            rel="stylesheet" media="screen"></script>
    <link href="../static/css/css.css.css"
          th:href="@{css/css.css}" rel="stylesheet" media="screen"
    />
</head>
<body>
    <div class="container">
        <div th:if="${not #lists.isEmpty(musics)}">
            <h1 style="color:#59B2E0">Musics List</h1>
            <table class="table table-striped">
                <tr>
                    <th>id</th>
                    <th>Singer Name</th>
                    <th>Song Name</th>
                    <th>Album Name</th>
                    <th>Image</th>
                    <th>Music</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="music : ${musics}">
                    <td th:text="${music.id}"></td>
                    <td th:text="${music.singername}"></td>
                    <td th:text="${music.songname}"></td>
                    <td th:text="${music.albumname}"></td>
                    <td>
                        <img th:src="${music.imageurl}" width="60" height="60"/>
                    </td>
                    <td>
                        <a th:href="${music.musicurl}">
                            Download
                        </a>
                    </td>
                    <td><a th:href="${'/music/' + music.id}">View</a> </td>
                    <td><a th:href="${'music/edit/'  + music.id}">Edit</a></td>
                    <td><a th:href="${'music/delete/'  + music.id}">Delete</a></td>
                </tr>
            </table>
        </div>
        <h3><a th:href="${'/music/new'}">Add New Music</a></h3>
        <form th:action="@{/logout}" style="margin-left: 20px;">
                <div class="col-sm-6 col-lg-2" style="margin-left: -30px;">
                    <input type="submit" name="logout-submit" id="logout-submit"  class="form-control btn btn-login" value="Log out"/>
                </div>
        </form>
    </div>
</body>
</html>