<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Music Store</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script href="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:href="@{/webjars/jquery/2.1.4/jquery.min.js}"
            rel="stylesheet" media="screen"></script>
    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"
    />
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2 style="color:#59B2E0">Music Details</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Music ID</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${music.id}">Music Id</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Singer Name</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${music.singername}">Singer Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Song Name</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${music.songname}">Song Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Album Name</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${music.albumname}">Album Name</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Image</label>
                    <div class="col-sm-10">
                        <img th:src="@{'/' + ${music.imageurl}}" width="60" height="60"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><a th:href="@{'/' + ${music.musicurl}}">
                        Download
                    </a>
                    </label>
                    <label class="col-sm-2 control-label"><a href="/musics.html">Musics List</a></label>
                </div>
            </form>

        </div>
    </div>
</div>

</body>
</html>