<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Music Store</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script href="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:href="@{/webjars/jquery/2.1.4/jquery.min.js}"
            rel="stylesheet" media="screen"></script>
    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"
    />
</head>
<body>
<div class="container">
    <h2 style="color:#59B2E0">Music Details</h2>
    <div>
        <form class="form-horizontal" th:object="${music}"  method="post" enctype="multipart/form-data">
           <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Singer Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{singername}" required="required"/>
                </div>
            </div>
            <p th:if="${#fields.hasErrors('singername')}" th:errors="*{singername}" class="alert alert-danger" ></p>
            <div class="form-group">
                <label class="col-sm-2 control-label">Song Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{songname}" required="required"/>
                </div>

            </div>
            <p th:if="${#fields.hasErrors('songname')}" th:errors="*{songname}" class="alert alert-danger" ></p>
            <div class="form-group">
                <label class="col-sm-2 control-label">Album Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{albumname}" required="required"/>
                </div>
            </div>
            <p th:if="${#fields.hasErrors('albumname')}" th:errors="*{albumname}" class="alert alert-danger" ></p>
            <div class="form-group">
                <label class="col-sm-2 control-label">Image</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" th:field="*{image}"/>
                </div>
            </div>
            <p th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="alert alert-danger" ></p>
            <div class="form-group">
                <label class="col-sm-2 control-label">Music</label>
                <div class="col-sm-10">
                    <input type="file" class="form-control" th:field="*{music}"/>
                </div>
            </div>
            <p th:if="${#fields.hasErrors('music')}" th:errors="*{music}" class="alert alert-danger" ></p>
            <div class="row">
                <button type="submit" class="btn btn-default" style="color:#59B2E0">Submit</button>
                <a href="/musics.html">Musics List</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>