<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Music Store</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script href="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:href="@{/webjars/jquery/2.1.4/jquery.min.js}"
            rel="stylesheet" media="screen"></script>
    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"
    />
    <link href="../static/css/css.css"
          th:href="@{css/css.css}"
          rel="stylesheet" media="screen"
    />

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 style="color:#1CB94E">Music Store</h1>
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="login.html">Login</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="register.html">Register</a>
                        </div>
                    </div>

                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="register-form" th:object="${user}" class="tab-pane" role="form" th:action="@{/register}" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control"  placeholder="Name" th:field="*{name}" required="required"/>
                                </div>
                                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger" ></p>
                                <div class="form-group">
                                    <input type="email" class="form-control"  placeholder="Email:example@arpuplus.com" th:field="*{email}" required="required"/>

                                </div>
                                <p th:if="${#fields.hasErrors('email')}" class="alert alert-danger" th:errors="*{email}"></p>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" tabindex="2"  th:field="*{password}" class="form-control" placeholder="Password" required="required"/>

                                </div>
                                <p th:if="${#fields.hasErrors('password')}" class="alert alert-danger" th:errors="*{password}"></p>
                                <div class="form-group">
                                    <input type="number" name=""  tabindex="2"  th:field="*{phone}" class="form-control" placeholder="phone" required="required"/>

                                </div>
                                <p th:if="${#fields.hasErrors('phone')}" class="alert alert-danger" th:errors="*{phone}"></p>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now"/>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <!--  <h2>Registration Form </h2>
    <h3>User Details</h3>
    <div>
        <form class="form-horizontal" th:object="${user}" th:action="@{/login}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}"/>
                </div>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" th:field="*{email}"/>
                </div>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" th:field="*{password}"/>
                </div>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Phone</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" th:field="*{phone}"/>
                </div>
                <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>-->
</body>
</html>